arabic_reshaper==3.0.0
fer==22.5.1
Flask==3.1.2
flask_cors==6.0.1
flask_restful==0.3.10
flask_swagger_ui==5.21.0
fpdf==1.7.2
joblib==1.5.2
librosa==0.11.0
matplotlib==3.10.6
mongoengine==0.29.1
moviepy==2.2.1
numpy==2.2.0
pandas==2.3.2
Pillow==11.3.0
protobuf==6.32.1
pydub==0.25.1
pymongo==4.15.1
PyPDF2==3.0.1
python-dotenv==1.1.1
reportlab==4.4.3
scikit_learn==1.7.2
torch==2.8.0
Werkzeug==3.1.3
whisper==1.1.10
